<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Semantic UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style type="text/css">
        body{padding-bottom: 10px;}
    </style>
</head>
<body>
    <div class="ui center aligned container" style="margin-bottom: 30px;">
        <img src="{{ url_for('static', filename = 'HubFavicon.jpg') }}">
        <a href="{{ url_for('index') }}" style=" display: block;" >Return Home Screen</a>
        <h1>The Scema</h1>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>DB Name</th>
                    <th>Table Name</th>
                    <th>Table Type</th>
                </tr>
            </thead>
            <tbody>
                {% for row in oTables %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
        <h1>Content</h1>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for row in cont %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td><a href="{{row[6]}}" target="blank">The link</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
        <h1>Articles</h1>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for row in arts %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td><a href="{{row[6]}}" target="blank">The link</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
        <h1>Multi Media</h1>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Time</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for row in mults %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[7]}}</td>
                    <td><a href="{{row[6]}}" target="blank">The link</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
       

    </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</html>
